<form [formGroup]="settingForm" class="settingForm">
    <div class="container background">
        <div class="row">
            <div class="col">
                <section *ngFor="let player of players; let i = index">
                    <table class="tblPlayer">
                        <tr>
                            <td colspan="3"><span>玩家 {{i + 1}}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="faceIcon">
                                    <span>
                                        <mat-icon *ngIf="player.icon == 0">face</mat-icon>
                                        <mat-icon *ngIf="player.icon == 1">support_agent</mat-icon>
                                        <mat-icon *ngIf="player.icon == 2">emoji_emotions</mat-icon>
                                        <mat-icon *ngIf="player.icon == 3">sentiment_satisfied</mat-icon>
                                        <mat-icon *ngIf="player.icon == 4">sentiment_very_satisfied</mat-icon>
                                        <mat-icon *ngIf="player.icon == 5">sentiment_satisfied_alt</mat-icon>
                                        <mat-icon *ngIf="player.icon == 6">sentiment_dissatisfied</mat-icon>
                                        <mat-icon *ngIf="player.icon == 7">sentiment_very_dissatisfied</mat-icon>
                                        <mat-icon *ngIf="player.icon == 8">mood</mat-icon>
                                        <mat-icon *ngIf="player.icon == 9">sentiment_neutral</mat-icon>
                                        <mat-icon *ngIf="player.icon == 10">mood_bad</mat-icon>
                                        <mat-icon *ngIf="player.icon == 11">sick</mat-icon>
                                        <mat-icon *ngIf="player.icon == null">error</mat-icon>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="nameField">
                                    <span style="color: #4c4c4c; display:block; font-weight: lighter;">Name</span>
                                    <mat-form-field class="players" appearance="fill" style="width: 100%;">
                                        <input matInput type="text" style="font-weight: bold;" (focus)="$event.target.select()" [maxlength]="20"
                                        [(ngModel)]="player.name" [ngModelOptions]="{standalone: true}" name="name_{{i}}" autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </td>
                            <td>
                                <mat-icon style="cursor: pointer; color:#4c4c4c;" (click)="removePlayer(i);">delete</mat-icon>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-warning" (click)="addPlayer();"><mat-icon>person_add</mat-icon> 加入</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-success" style="float:right;" (click)="startGame();"><mat-icon>play_arrow</mat-icon> 開始</button>
            </div>
        </div>
    </div>
</form>