<form [formGroup]="settingForm">
    <div>
        <section *ngFor="let people of peoples; let i = index">
            <mat-form-field class="example-form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="people.name" [ngModelOptions]="{standalone: true}" name="name_{i}" autocomplete="off">
            </mat-form-field>
            <mat-icon style="cursor: pointer;" (click)="removePeople(i);">delete</mat-icon>
        </section>
        <button (click)="addPeople();">Add People</button>
        <button (click)="startGame();">Start</button>
    </div>
</form>