.mainForm{
    padding-top: 10px;
}
.btnAdd{
    cursor: pointer;
}

.btnMinus{
    cursor: pointer;
}

.btnBanker{
    cursor: pointer;
}

.tblPlayer{
    border: 2px solid #4C4C4C;
    margin-bottom: 10px;
    font-size: 24px;
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
}

.tblPlayer > tr:first-child > td{
    border-bottom: 2px solid #4C4C4C;
}

.tblPlayer > tr > td{
    padding: 6px;
}

::ng-deep .mainForm .mat-form-field-label{
    font-size: 20px !important;
}

.colorGreen{
    color:#28a745;
}

.colorRed{
    color:#dc3545;
}

.mat-icon{
    vertical-align: middle;
}