<form [formGroup]="mainForm" class="mainForm">
    <div class="container background">
        <div class="row">
            <div class="col">
                <mat-form-field class="betField">
                    <mat-label>注碼: $ </mat-label>
                    <input matInput type="number" style="width:25%; font-size: 20px; font-weight: bold;" [(ngModel)]="bet" [ngModelOptions]="{standalone: true}"autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col">
                <div *ngIf="sum == 0" style="max-width: fit-content; float: right;" class="alert alert-success">
                    <strong>啱數!</strong>
                </div>
                <div *ngIf="sum != 0" style="max-width: fit-content; float: right;" class="alert alert-danger">
                    <strong>唔啱數!</strong>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <section *ngFor="let player of players; let i = index">
                    <table class="tblPlayer">
                        <tr>
                            <td colspan="2"><mat-icon>face</mat-icon><span>{{player.name}}</span></td>
                        </tr>
                        <tr>
                            <td><div style="min-width: 75px;"><span>$ {{player.money}}</span></div></td>
                            <td>
                                <button class="btn btn-danger btnMinus" (click)="minusMoney(i);"style="margin: 0 10px; float: right;"><mat-icon>remove</mat-icon></button>
                                <button class="btn btn-success btnAdd" (click)="addMoney(i);" style="margin: 0 10px; float: right;"><mat-icon>add</mat-icon></button>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-info" (click)="back();">Back</button>
            </div>
        </div>
    </div>
</form>