<form [formGroup]="mainForm" class="mainForm">
    <div class="container background">
        <div class="row">
            <div class="col" style="max-width: 30%;">
                <mat-form-field class="betField" style="max-width: 60px;">
                    <mat-label>注碼: $ </mat-label>
                    <input matInput type="number" style="width:25%; font-size: 20px; font-weight: bold;" [(ngModel)]="bet" [ngModelOptions]="{standalone: true}"autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col">
                <div *ngIf="sum == 0" style="max-width: fit-content; float: right;" class="alert alert-success">
                    <strong>啱數!</strong>
                </div>
                <div *ngIf="sum != 0" style="max-width: fit-content; float: right;" class="alert alert-danger">
                    <strong>唔啱數!</strong>
                </div>
                <button class="btn btn-light" (click)="autoChangeBanker()" style="min-width: 120px; float: right; margin-right: 10px;">
                    <mat-icon *ngIf="!isAutoChangeBanker">check_box_outline_blank</mat-icon>
                    <mat-icon *ngIf="isAutoChangeBanker">check_box</mat-icon>
                     自動過莊
                </button>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <section *ngFor="let player of players; let i = index">
                    <table class="tblPlayer">
                        <tr>
                            <td colspan="2" style="font-size: 20px;">
                                <span style="margin-right: 5px;">
                                    <mat-icon *ngIf="player.icon == 0">face</mat-icon>
                                    <mat-icon *ngIf="player.icon == 1">support_agent</mat-icon>
                                    <mat-icon *ngIf="player.icon == 2">emoji_emotions</mat-icon>
                                    <mat-icon *ngIf="player.icon == 3">sentiment_satisfied</mat-icon>
                                    <mat-icon *ngIf="player.icon == 4">sentiment_very_satisfied</mat-icon>
                                    <mat-icon *ngIf="player.icon == 5">sentiment_satisfied_alt</mat-icon>
                                    <mat-icon *ngIf="player.icon == 6">sentiment_dissatisfied</mat-icon>
                                    <mat-icon *ngIf="player.icon == 7">sentiment_very_dissatisfied</mat-icon>
                                    <mat-icon *ngIf="player.icon == 8">mood</mat-icon>
                                    <mat-icon *ngIf="player.icon == 9">sentiment_neutral</mat-icon>
                                    <mat-icon *ngIf="player.icon == 10">mood_bad</mat-icon>
                                    <mat-icon *ngIf="player.icon == 11">sick</mat-icon>
                                </span>
                                <span style="vertical-align: middle;">{{player.name}}</span>
                                <mat-icon *ngIf="player.banker" style="margin-left: 5px; color: #ebb734;">emoji_events</mat-icon>
                                <span *ngIf="player.banker" style="margin-left: 5px; vertical-align: middle;"> 莊: {{bankerCount}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="min-width: 80px;">
                                    <span style="margin-right: 30px;">$ {{player.money}}</span>
                                    <span [ngClass]="{'colorGreen': calculate(i) > 0, 'colorRed': calculate(i) < 0}">( {{calculate(i)}} )</span>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger btnMinus" (click)="minusMoney(i);"style="margin: 0 10px; float: right;"><mat-icon>remove</mat-icon></button>
                                <button class="btn btn-success btnAdd" (click)="addMoney(i);" style="margin: 0 10px; float: right;"><mat-icon>add</mat-icon></button>
                                <button [ngClass]="{'btn-warning': player.banker, 'btn-light': !player.banker}"
                                    class="btn btnBanker" (click)="beBanker(i);"style="margin: 0 10px; float: right;">
                                    <mat-icon>emoji_events</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-info" (click)="back();"><mat-icon>arrow_back</mat-icon> 返回</button>
                <button type="button" class="btn btn-secondary" (click)="endRound();" style="float: right;">結算</button>
            </div>
        </div>
    </div>
</form>